:root {
    --sub-title-color: rgb(73, 73, 73);
}

.centercontent {
    height: 150vh;

    outline: 1px solid blue;
}

.titleDiv {
    height: 45rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    outline: 1px solid orange;
}

.titleDiv > h1 {
    font-size: 4rem;
    font-weight: 500;
}

.titleDiv > h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--sub-title-color);
}

.titleImage {
    width: 90%;
    height: 35rem;

    border-radius: 1rem;
    object-fit: cover;
}

.cardSection {
    padding: 2rem 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardSection > h2 {
    font-size: 3rem;
    font-weight: 400;
}

.cardSection > h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--sub-title-color);
}

.cards {
    padding: 2rem 0rem;

    display: flex;
    justify-content: space-between;
}
